.vscode/settings.json
__pycache__/commands.cpython-36.pyc
token.txt
user data/
image_classification/training_images/
image_classification/test_images/
__pycache__/
credentials/
events*
retrained*
generic/