aiohttp==3.7.4
async-timeout==3.0.1
asyncio==3.4.3
attrs==19.3.0
chardet==3.0.4
DateTime==4.3
discord==1.0.1
discord.py==1.2.5
idna==2.8
idna-ssl==1.1.0
multidict==4.7.0
pbr==5.4.4
pytz==2019.3
six==1.13.0
stevedore==1.31.0
typing-extensions==3.7.4.1
virtualenv==16.7.8
virtualenv-clone==0.5.3
websockets==6.0
yarl==1.4.2
zope.interface==4.7.1
